fastapi
uvicorn[standard]
gradio
langchain>=0.2
langchain-community
langchain-groq
groq
faiss-cpu
pydantic>=2
python-dotenv
requests
beautifulsoup4
supabase
postgrest
PyMuPDF
pdfplumber
python-docx
sentence-transformers
langgraph